body{
	background-color: red;
}
h1{font-size: 30px;
	color: teal;
}

h2{font-size: 25px;
	color: orangered;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: fuchsia;
}
.small{
	font-size: 20px;
}
h1 span{
	color: lawngreen;
}